/**
 * Admin Widgets
 *
 * Appearance > Widgets and Customizer's widget controls both use these styles.
 * Also see framework/css/admin/admin-widgets.css
 */

/* Hide CT Location fields in Homepage widget area; show message instead */

.jubilee-home-locations-widget-message {
	display: none; /* hide message by default */
	margin: 10px 0;
}

#ctcom-home .jubilee-home-locations-widget-message,
#sub-accordion-section-sidebar-widgets-ctcom-home .jubilee-home-locations-widget-message /* Customizer */
{
	display: block; /* show message only on locations widget in home widget area */
}

#ctcom-home > .widget[id*=ctfw-locations] .widget-content > *:not(.jubilee-home-locations-widget-message), /* Fields */
#ctcom-home > .widget[id*=ctfw-locations] .widget-control-save, /* Save Button */
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-locations] .widget-content > *:not(.jubilee-home-locations-widget-message) /* Customizer (doesn't have Save button) */
{
	display: none;  /* hide fields when showing message */
}

/* Hide checkbox settings on homepage for CT Posts, CT Sermons, CT People, CT Events */

#ctcom-home > .widget[id*=ctfw-posts] [class*="ctfw-widget-field-show_"], /* all "Show ____" fields in one shot */
#ctcom-home > .widget[id*=ctfw-sermons] [class*="ctfw-widget-field-show_"],
#ctcom-home > .widget[id*=ctfw-events] [class*="ctfw-widget-field-show_"],
#ctcom-home > .widget[id*=ctfw-people] [class*="ctfw-widget-field-show_"],
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-posts] [class*="ctfw-widget-field-show_"], /* Customizer */
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-sermons] [class*="ctfw-widget-field-show_"],
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-events] [class*="ctfw-widget-field-show_"],
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-people] [class*="ctfw-widget-field-show_"]
{
    display: none;
}

/* Hide Limit and Order settings on homepage for CT Posts, CT Sermons, CT People */

#ctcom-home > .widget[id*=ctfw-posts] .ctfw-widget-field-limit, /* all "Show ____" fields in one shot */
#ctcom-home > .widget[id*=ctfw-posts] .ctfw-widget-field-order,
#ctcom-home > .widget[id*=ctfw-posts] .ctfw-widget-field-orderby,
#ctcom-home > .widget[id*=ctfw-sermons] .ctfw-widget-field-limit,
#ctcom-home > .widget[id*=ctfw-sermons] .ctfw-widget-field-order,
#ctcom-home > .widget[id*=ctfw-sermons] .ctfw-widget-field-orderby,
#ctcom-home > .widget[id*=ctfw-people] .ctfw-widget-field-limit,
#ctcom-home > .widget[id*=ctfw-people] .ctfw-widget-field-order,
#ctcom-home > .widget[id*=ctfw-people] .ctfw-widget-field-orderby,
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-posts] .ctfw-widget-field-limit, /* Customizer */
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-posts] .ctfw-widget-field-order,
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-posts] .ctfw-widget-field-orderby,
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-sermons] .ctfw-widget-field-limit,
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-sermons] .ctfw-widget-field-order,
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-sermons] .ctfw-widget-field-orderby,
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-people] .ctfw-widget-field-limit,
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-people] .ctfw-widget-field-order,
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-people] .ctfw-widget-field-orderby
{
    display: none;
}

/* Hide Image field on NON-homepage for CT Giving, CT Posts, CT Sermons, CT People */

.widget[id*=ctfw-giving] [class*="ctfw-widget-field-image_id"],
.widget[id*=ctfw-posts] [class*="ctfw-widget-field-image_id"],
.widget[id*=ctfw-sermons] [class*="ctfw-widget-field-image_id"],
.widget[id*=ctfw-people] [class*="ctfw-widget-field-image_id"],
.widget[id*=ctfw-events] [class*="ctfw-widget-field-image_id"]
{
    display: none; /* hide on all, then show only on home below */
}

#ctcom-home > .widget[id*=ctfw-giving] .ctfw-widget-field-image_id,
#ctcom-home > .widget[id*=ctfw-posts] .ctfw-widget-field-image_id,
#ctcom-home > .widget[id*=ctfw-sermons] .ctfw-widget-field-image_id,
#ctcom-home > .widget[id*=ctfw-people] .ctfw-widget-field-image_id,
#ctcom-home > .widget[id*=ctfw-events] .ctfw-widget-field-image_id,
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-giving] .ctfw-widget-field-image_id,  /* Customizer */
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-posts] .ctfw-widget-field-image_id,
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-sermons] .ctfw-widget-field-image_id,
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-people] .ctfw-widget-field-image_id,
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-events] .ctfw-widget-field-image_id
{
    display: block;  /* hide on all above, then show only on home */
}

/* Hide all except Title and Gallery (post_id) in CT Gallery on homepage */

#ctcom-home > .widget[id*=ctfw-gallery] .ctfw-widget-field:not(.ctfw-widget-field-title):not(.ctfw-widget-field-post_id),
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-gallery] .ctfw-widget-field:not(.ctfw-widget-field-title):not(.ctfw-widget-field-post_id)
{
	display: none;
}

#ctcom-home > .widget[id*=ctfw-gallery] .ctfw-widget-field-post_id,
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-gallery] .ctfw-widget-field-post_id
{
	margin-bottom: 12px; /* undo .ctfw-widget-no-bottom-margin since Gallery/post_id is last now */
}

/* Hide all except Title and Category in CT Events on homepage */

#ctcom-home > .widget[id*=ctfw-events] .ctfw-widget-field:not(.ctfw-widget-field-title):not(.ctfw-widget-field-category):not(.ctfw-widget-field-image_id),
#sub-accordion-section-sidebar-widgets-ctcom-home .widget[id*=ctfw-events] .ctfw-widget-field:not(.ctfw-widget-field-title):not(.ctfw-widget-field-category):not(.ctfw-widget-field-image_id)
{
	display: none;
}

/* Locations widget: add bottom margin to Show Times, since Show Map removes it but that is not used in this theme */

.widget[id*=ctfw-locations] .ctfw-widget-field-show_times
{
	margin-bottom: 12px; /* undo .ctfw-widget-no-bottom-margin */
}
