/**
 * Gutenberg block editor styles.
 */

/* Editor Width (consider other page templates in future) */

.editor-default-block-appender,
.editor-block-list__block {
	max-width: calc( 700px + 30px ); /* compensate for padding in textarea */
}

.editor-block-list__block[data-align="wide"],
.editor-block-list__block[data-type="core/quote"] {
	max-width: calc( 980px + 28px ); /* compensate for padding */
}

.editor-block-list__block[data-align="full"] { /* make Full behave as Wide, since theme frontend doesn't regard Full */
  max-width: 980px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.editor-block-list__block[data-type="core/freeform"] { /* Classic block */
  max-width: 728px;
}

/* Toolbar */

.components-toolbar button[aria-label="Full width"] {
  display: none; /* hide Full Width button since theme makes it behave same as Wide */
}

/* Text */

.edit-post-visual-editor,
.edit-post-visual-editor a,
.edit-post-visual-editor .block-editor-rich-text,
.edit-post-visual-editor .block-editor-rich-text a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.edit-post-visual-editor,
.edit-post-visual-editor p,
.edit-post-visual-editor .block-editor-rich-text {
  font-size: 115%;
  color: #555;
}

  /* Classic block */

  .edit-post-visual-editor .wp-block-freeform {
    font-size: 100%;
  }

  .edit-post-visual-editor .wp-block-freeform p {
    line-height: 1.8 !important;
  }

/* Sized Text */

.block-editor-rich-text__editable.has-huge-font-size {
  font-size: 2.3em !important;
  line-height: 1.2 !important;
  color: #000;
}

.block-editor-rich-text__editable.has-large-font-size {
  line-height: 1.3 !important;
  color: #000;
}

.block-editor-rich-text__editable.has-medium-font-size {
  font-size: 1.1em !important;
}

.block-editor-rich-text__editable.has-small-font-size {
  font-size: 0.9em !important;
  line-height: 1.6 !important;
}

.block-editor-rich-text__editable.has-background.has-huge-font-size,
.block-editor-rich-text__editable.has-background.has-large-font-size {
  padding: 1em;
}

/* Links */

.wp-block-freeform.block-library-rich-text__tinymce a,
.editor-block-list__block-edit a:not(.blocks-format-toolbar__link-value),
.wp-block-file__textlink .block-editor-rich-text__editable {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  transition: color 0.25s;
}

/* Title */

.editor-post-title {
	max-width: 100%;
	margin: 0 0 2.9em 0;
  position: relative;
}

.editor-post-title__block {
  max-width: 100% !important;
}

.editor-post-title .editor-post-title__input {
  margin: 0.8em auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: calc( 1280px );
  font-size: 3.2em;
  line-height: 0.9;
  background-color: transparent;
  color: #fff !important;
  position: relative;
}

  /* Placeholder (don't group) */

  .edit-post-visual-editor .editor-post-title .editor-post-title__input::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.5;
  }

  .edit-post-visual-editor .editor-post-title .editor-post-title__input::-moz-placeholder { /* FF 19+ */
    color: #fff;
    opacity: 1; /* FF lightens it by default, so use 100% */
  }

  .edit-post-visual-editor .editor-post-title .editor-post-title__input:-ms-input-placeholder { /* IE 10 - 11 */
    color: #fff;
    opacity: 0.5;
  }

  .edit-post-visual-editor .editor-post-title .editor-post-title__input::-ms-input-placeholder { /* Edge */
    color: #fff;
    opacity: 0.5;
  }

  .edit-post-visual-editor .editor-post-title .editor-post-title__input::placeholder { /* Modern browsers */
    color: #fff;
    opacity: 0.5;
  }

/* Headings */

.edit-post-visual-editor .editor-post-title .editor-post-title__input, /* Post Title */
.edit-post-visual-editor .wp-block-heading h1,
.edit-post-visual-editor .wp-block-heading h2,
.edit-post-visual-editor .wp-block-heading h3,
.edit-post-visual-editor .wp-block-heading h4,
.edit-post-visual-editor .wp-block-heading h5,
.edit-post-visual-editor .wp-block-heading h6,
.wp-block-freeform.block-library-rich-text__tinymce h1, /* Classic block */
.wp-block-freeform.block-library-rich-text__tinymce h2,
.wp-block-freeform.block-library-rich-text__tinymce h3,
.wp-block-freeform.block-library-rich-text__tinymce h4,
.wp-block-freeform.block-library-rich-text__tinymce h5,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
  font-weight: 700;
  line-height: 1.05;
}

.edit-post-visual-editor .wp-block-heading h1,
.edit-post-visual-editor .wp-block-heading h2,
.edit-post-visual-editor .wp-block-heading h3,
.edit-post-visual-editor .wp-block-heading h4,
.edit-post-visual-editor .wp-block-heading h5,
.edit-post-visual-editor .wp-block-heading h6,
.wp-block-freeform.block-library-rich-text__tinymce h1, /* Classic block */
.wp-block-freeform.block-library-rich-text__tinymce h2,
.wp-block-freeform.block-library-rich-text__tinymce h3,
.wp-block-freeform.block-library-rich-text__tinymce h4,
.wp-block-freeform.block-library-rich-text__tinymce h5,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
  color: #000;
}

.jubilee-has-uppercase .edit-post-visual-editor .editor-post-title .editor-post-title__input, /* Post Title */
.jubilee-has-uppercase .edit-post-visual-editor .wp-block-heading h1,
.jubilee-has-uppercase .edit-post-visual-editor .wp-block-heading h2,
.jubilee-has-uppercase .edit-post-visual-editor .wp-block-heading h3,
.jubilee-has-uppercase .edit-post-visual-editor .wp-block-heading h4,
.jubilee-has-uppercase .edit-post-visual-editor .wp-block-heading h5,
.jubilee-has-uppercase .edit-post-visual-editor .wp-block-heading h6,
.jubilee-has-uppercase .wp-block-freeform.block-library-rich-text__tinymce h1, /* Classic block */
.jubilee-has-uppercase .wp-block-freeform.block-library-rich-text__tinymce h2,
.jubilee-has-uppercase .wp-block-freeform.block-library-rich-text__tinymce h3,
.jubilee-has-uppercase .wp-block-freeform.block-library-rich-text__tinymce h4,
.jubilee-has-uppercase .wp-block-freeform.block-library-rich-text__tinymce h5,
.jubilee-has-uppercase .wp-block-freeform.block-library-rich-text__tinymce h6 {
  text-transform: uppercase;
}

.edit-post-visual-editor .wp-block-heading h1,
.wp-block-freeform.block-library-rich-text__tinymce h1 {
  font-size: 2.8em;
}

.edit-post-visual-editor .wp-block-heading h2,
.wp-block-freeform.block-library-rich-text__tinymce h2 {
  font-size: 2em;
  padding: 0;
}

.edit-post-visual-editor .wp-block-heading h3,
.wp-block-freeform.block-library-rich-text__tinymce h3 {
  font-size: 1.6em;
}

.edit-post-visual-editor .wp-block-heading h4,
.wp-block-freeform.block-library-rich-text__tinymce h4 {
  font-size: 1.4em;
}

.edit-post-visual-editor .wp-block-heading h5,
.wp-block-freeform.block-library-rich-text__tinymce h5 {
  font-size: 1.2em;
}

.edit-post-visual-editor .wp-block-heading h6,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
  font-size: 1em;
}

/* Button */

.edit-post-visual-editor .wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button {
  display: inline-block;
  height: 3.6em;
  line-height: 3.444em;
  padding: 0 1.5em;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
  color: #fff !important;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  text-transform: uppercase;
  box-shadow: 0 5px 20px rgba( 36, 22, 6, 0.20 );
  border-radius: 1.8em !important;
}

  .jubilee-shapes-square .edit-post-visual-editor .wp-block-button .wp-block-button__link,
  .jubilee-shapes-square .wp-block-file .wp-block-file__button {
    border-radius: 0.6875em !important;
  }

  .jubilee-shapes-angled .edit-post-visual-editor .wp-block-button .wp-block-button__link,
  .jubilee-shapes-angled .wp-block-file .wp-block-file__button {
    border-radius: 2px !important;
  }

.editor-block-list__block[data-type="core/button"][data-align="left"] .wp-block-button {
  margin: 0.7em 0;
}

.editor-block-list__block[data-type="core/button"][data-align="right"] .wp-block-button {
  margin: 0.7em 0;
}

.editor-block-list__block[data-type="core/button"][data-align="center"] .wp-block-button__link {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 320px;
}

/* Media */

.edit-post-visual-editor .wp-block-audio {
  margin-left: 0;
}

.edit-post-visual-editor .wp-block-audio figcaption,
.edit-post-visual-editor .wp-block-video figcaption,
.edit-post-visual-editor .wp-block-embed figcaption {
  font-size: 0.8em;
  font-style: normal;
  line-height: 1.6;
  color: #777;
}

/* Rounded Corners */

.edit-post-visual-editor img {
  border-radius: 2px;
}

/* Image Block */

.edit-post-visual-editor .wp-block-image .block-editor-rich-text__editable {
  max-width: 100%;
  text-align: center;
  color: #777;
  margin: 0 0 0 0;
  padding: 0 0.5em;
  font-size: 0.775em;
  font-style: normal;
  line-height: 1.5;
}

.editor-block-list__block[data-type="core/image"][data-align="left"] .wp-block-image,
.editor-block-list__block[data-type="core/image"][data-align="right"] .wp-block-image {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.editor-block-list__block[data-type="core/image"][data-align="left"] .wp-block-image {
  margin-right: 0.7em;
}

.editor-block-list__block[data-type="core/image"][data-align="right"] .wp-block-image {
  margin-left: 0.7em;
}

.edit-post-visual-editor .wp-block-image img {
  border-radius: 0.5625em; /* use for organic too and no tany larger since some aligned to side and are small */
}

  .jubilee-shapes-angled .edit-post-visual-editor .wp-block-image img {
    border-radius: 1px;
  }

/* Cover */

.edit-post-visual-editor .wp-block-cover {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-radius: 0.5625em;
}

  .jubilee-shapes-organic .edit-post-visual-editor .wp-block-cover {
    border-radius: 1.125em;
  }

  .jubilee-shapes-angled .edit-post-visual-editor .wp-block-cover {
    border-radius: 1px;
  }

.edit-post-visual-editor .editor-block-list__block[data-type="core/cover"] .editor-block-list__block {
  max-width: 100%;
  margin-left: 3%;
  margin-right: 3%;
}

.edit-post-visual-editor .editor-block-list__block[data-type="core/cover"] .editor-rich-text {
  padding-left: 0;
  padding-right: 0;
}

  .edit-post-visual-editor .editor-block-list__block[data-type="core/cover"] .editor-rich-text h1,
  .edit-post-visual-editor .editor-block-list__block[data-type="core/cover"] .editor-rich-text h2,
  .edit-post-visual-editor .editor-block-list__block[data-type="core/cover"] .editor-rich-text h3,
  .edit-post-visual-editor .editor-block-list__block[data-type="core/cover"] .editor-rich-text h4,
  .edit-post-visual-editor .editor-block-list__block[data-type="core/cover"] .editor-rich-text h5,
  .edit-post-visual-editor .editor-block-list__block[data-type="core/cover"] .editor-rich-text h6 {
    max-width: 100%;
  }

  .edit-post-visual-editor .wp-block-cover .block-editor-rich-text__editable,
  .edit-post-visual-editor .wp-block-cover .block-editor-rich-text__editable.has-drop-cap:not(.has-text-color):not(:focus)::first-letter {
    color: #fff;
  }

  .edit-post-visual-editor .wp-block-cover .block-editor-rich-text__editable b,
  .edit-post-visual-editor .wp-block-cover .block-editor-rich-text__editable strong {
    font-weight: bold !important;
  }

  .edit-post-visual-editor .wp-block-cover .block-editor-rich-text__editable i,
  .edit-post-visual-editor .wp-block-cover .block-editor-rich-text__editable em {
    font-style: italic !important;
  }

  .edit-post-visual-editor .wp-block-cover .block-editor-rich-text__editable a,
  .edit-post-visual-editor .wp-block-cover .block-editor-rich-text__editable a:hover {
    display: inline-block;
    line-height: 1;
    /*color: #fff !important;*/
    /*border-color: #fff !important;*/
    border-width: 0 0 0.09375em 0 !important;
  }

.edit-post-visual-editor .editor-block-list__block[data-type="core/cover"][data-align="left"] .wp-block-cover,
.edit-post-visual-editor .editor-block-list__block[data-type="core/cover"][data-align="right"] .wp-block-cover {
  margin-top: 0.7em !important;
  margin-bottom: 0.7em !important;
}

.edit-post-visual-editor .editor-block-list__block[data-type="core/cover"][data-align="left"] .wp-block-cover {
  margin-right: 0.3em;
}

.edit-post-visual-editor .editor-block-list__block[data-type="core/cover"][data-align="right"] .wp-block-cover {
  margin-left: 0.3em;
}

.edit-post-visual-editor .editor-block-list__block[data-type="core/cover"][data-align="left"] .editor-rich-text,
.edit-post-visual-editor .editor-block-list__block[data-type="core/cover"][data-align="right"] .editor-rich-text {
    font-size: 0.775em;
    line-height: 1.25 !important;
}

/* Gallery */

.edit-post-visual-editor .wp-block-gallery .blocks-gallery-item figcaption {
  padding-bottom: 10px;
  font-size: 0.7em;
  font-style: normal;
  line-height: 1.3;
}

.edit-post-visual-editor .wp-block-gallery .blocks-gallery-item figcaption a,
.edit-post-visual-editor .wp-block-gallery .blocks-gallery-item figcaption a:hover {
  color: #fff !important;
  border-color: #fff !important;
}

.edit-post-visual-editor .wp-block-gallery .blocks-gallery-item figcaption i,
.edit-post-visual-editor .wp-block-gallery .blocks-gallery-item figcaption em {
  font-style: normal;
}

.edit-post-visual-editor .wp-block-gallery .blocks-gallery-item img,
.edit-post-visual-editor .wp-block-gallery .blocks-gallery-item figcaption {
  border-radius: 0.5625em;
}

  .jubilee-shapes-angled .edit-post-visual-editor .wp-block-gallery .blocks-gallery-item img,
  .jubilee-shapes-angled .edit-post-visual-editor .wp-block-gallery .blocks-gallery-item figcaption {
    border-radius: 1px;
  }

/* Blockquote */

.edit-post-visual-editor .wp-block-quote {
  border: 0 !important;
  padding: 0;
}

.edit-post-visual-editor .wp-block-quote .block-editor-rich-text {
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0.7em 0 2.8125em !important;
  font-style: italic;
  line-height: 1.5;
  position: relative;
}

.edit-post-visual-editor .wp-block-quote .block-editor-rich-text p {
  color: #000;
  margin-top: 0.6em;
  margin-bottom: 0;
  font-size: 1.3em;
  line-height: 1.5;
}

.edit-post-visual-editor .wp-block-quote .block-editor-rich-text p:first-child {
  margin-top: 0;
}

.edit-post-visual-editor .wp-block-quote .block-editor-rich-text p:before {
  position: absolute;
  top: -0.34em;
  left: -0.05em;
  content: "\201C";
  font-size: 3.5em;
  font-style: normal;
  font-weight: 600;
  color: #000;
}

.edit-post-visual-editor .wp-block-quote .wp-block-quote__citation.block-editor-rich-text__editable {
  display: block;
  padding-top: 0.5em !important;
  font-size: 0.85em;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  color: #555;
}

/* Blockquote (Large Style) */

.edit-post-visual-editor .wp-block-quote.is-style-large .block-editor-rich-text p {
  font-size: 2.1em !important;
  line-height: 1.3 !important;
  padding-left: 0.4em !important;
}

.edit-post-visual-editor .wp-block-quote.is-style-large .block-editor-rich-text p:before {
  top: -0.24em;
  left: -0.05em;
  font-size: 2.6em;
}

.edit-post-visual-editor .wp-block-quote.is-style-large .wp-block-quote__citation.block-editor-rich-text__editable {
  padding-top: 0.6em !important;
  padding-left: 0.9em !important;
  font-size: 1.2em !important;
  text-align: left !important;
}

    .edit-post-visual-editor .wp-block-quote.is-style-large[style*='center'] .wp-block-quote__citation.block-editor-rich-text__editable {
      text-align: center !important;
    }

/* Pullquote */

.edit-post-visual-editor .wp-block-pullquote {
  border: 0;
  padding: 1.75em 3.2em !important;
  background-color: whitesmoke !important;
  border-radius: 2px;
}

.edit-post-visual-editor .wp-block-pullquote blockquote {
  margin-left: 0;
  margin-right: 0;
}

.edit-post-visual-editor .wp-block-pullquote .block-editor-rich-text p {
  font-style: italic;
  line-height: 1.5;
  color: #000 !important;;
}

.edit-post-visual-editor .wp-block-pullquote .block-editor-rich-text p:last-child {
  margin-bottom: 0;
}

.edit-post-visual-editor .wp-block-pullquote .wp-block-pullquote__citation.block-editor-rich-text__editable {
  display: block;
  padding-top: 1.6em;
  font-size: 0.85em;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  color: #555 !important;
}

.edit-post-visual-editor .wp-block-pullquote.is-style-solid-color blockquote {
  max-width: 100%;
  text-align: center;
}

.edit-post-visual-editor .wp-block-pullquote.is-style-solid-color blockquote .block-editor-rich-text p {
  font-size: 1.52em;
  line-height: 1.5;
  margin-bottom: 1.1em;
}

.edit-post-visual-editor .wp-block-pullquote.is-style-solid-color blockquote .block-editor-rich-text p:last-child {
  margin-bottom: 0;
}

.edit-post-visual-editor .wp-block-pullquote.alignleft,
.edit-post-visual-editor .wp-block-pullquote.alignright {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.edit-post-visual-editor .wp-block-pullquote.alignleft {
  margin-right: 2.5em;
}

.edit-post-visual-editor .wp-block-pullquote.alignright {
  margin-left: 2.5em;
}

.edit-post-visual-editor .wp-block-pullquote.alignleft .block-editor-rich-text p,
.edit-post-visual-editor .wp-block-pullquote.alignright .block-editor-rich-text p {
  font-size: 1.1em;
}

.edit-post-visual-editor .wp-block-pullquote {
  border-radius: 0.5625em;
}

  .jubilee-shapes-organic .edit-post-visual-editor .wp-block-pullquote {
    border-radius: 1.125em;
  }

  .jubilee-shapes-angled .edit-post-visual-editor .wp-block-pullquote {
    border-radius: 1px;
  }

/* Code + Pre */

.edit-post-visual-editor .wp-block-code,
.edit-post-visual-editor .wp-block-preformatted {
  font-size: 1em;
}

.edit-post-visual-editor .wp-block-code .editor-plain-text,
.edit-post-visual-editor .wp-block-preformatted .block-editor-rich-text {
  font-family: Menlo, Consolas, monaco, monospace;
  font-size: 0.85em;
  color: #000;
}

/* Verse (Poetry) */

.edit-post-visual-editor .wp-block-verse {
  padding: 0.8em 1.2em;
  border-radius: 2px;
  background-color: whitesmoke;
  border-radius: 0.5625em;
}

  .edit-post-visual-editor .wp-block-verse .rich-text {
    margin: 0;
  }

  .jubilee-shapes-organic .edit-post-visual-editor .wp-block-verse {
    border-radius: 1.125em;
  }

  .jubilee-shapes-angled .edit-post-visual-editor .wp-block-verse {
    border-radius: 1px;
  }

.edit-post-visual-editor .wp-block-verse .block-editor-rich-text__editable {
  font-size: 1.2em;
  color: #000;
}

/* Separator */

.edit-post-visual-editor .wp-block-separator,
.edit-post-visual-editor .wp-block-separator.is-style-wide,
.edit-post-visual-editor .wp-block-separator.is-style-dots {
  width: 200px !important;
  max-width: 100% !important;
  border-color: #ddd !important;
  background-color: #ddd !important;
  border-top-width: 0;
  border-bottom-width: 5px;
  height: 5px !important;
  border-radius: 0 !important;
}

.edit-post-visual-editor .wp-block-separator.is-style-wide {
  width: 100% !important;
}

.edit-post-visual-editor .wp-block-separator.is-style-dots {
  border-style: dashed;
  border-top-width: 0;
  border-bottom-width: 5px;
  background-color: transparent !important;
}

.edit-post-visual-editor .wp-block-separator.is-style-dots:before {
  display: none;
}

/* Dropcap */

.wp-block-paragraph.has-drop-cap:not(:focus)::first-letter {
  margin: 0 0.1em 0 0;
  font-weight: 700;
  font-size: 4em;
  line-height: 0.9;
}

  .wp-block-paragraph.has-drop-cap.has-small-font-size:not(:focus):first-letter {
    font-size: 3.5em !important;
    margin-top: -0.025em;
  }

  .wp-block-paragraph.has-drop-cap.has-medium-font-size:not(:focus):first-letter {
    font-size: 4em !important;
    margin-top: -0.025em;
  }

  .wp-block-paragraph.has-drop-cap.has-large-font-size:not(:focus):first-letter {
    font-size: 3.1em !important;
    margin-top: -0.075em;
  }

  .wp-block-paragraph.has-drop-cap.has-huge-font-size:not(:focus):first-letter {
    font-size: 2.85em !important;
    margin-top: -0.07em;
  }

.wp-block-paragraph.has-drop-cap:not(.has-text-color):not(:focus)::first-letter {
  color: #000;
}

/* Has Background */

.edit-post-visual-editor .has-background {
  border-radius: 0.5625em;
}

  .jubilee-shapes-organic .edit-post-visual-editor .has-background {
    border-radius: 1.125em;
  }

  .jubilee-shapes-angled .edit-post-visual-editor .has-background {
    border-radius: 1px;
  }

.edit-post-visual-editor .has-background.has-main-background-color:not(.has-text-color),
.edit-post-visual-editor .has-background.has-accent-background-color:not(.has-text-color),
.edit-post-visual-editor .has-background.has-dark-background-color:not(.has-text-color),
.edit-post-visual-editor .has-background.has-light-background-color:not(.has-text-color),
.edit-post-visual-editor .has-background.has-main-background-color.has-drop-cap:not(.has-text-color):not(:focus):first-letter,
.edit-post-visual-editor .has-background.has-accent-background-color.has-drop-cap:not(.has-text-color):not(:focus):first-letter,
.edit-post-visual-editor .has-background.has-dark-background-color.has-drop-cap:not(.has-text-color):not(:focus):first-letter,
.edit-post-visual-editor .has-background.has-light-background-color.has-drop-cap:not(.has-text-color):not(:focus):first-letter {
  color: #fff; /* White text when using certain preset colors and don't have custom text color */
}

.edit-post-visual-editor .has-background.has-main-background-color:not(.has-text-color) a,
.edit-post-visual-editor .has-background.has-accent-background-color:not(.has-text-color) a,
.edit-post-visual-editor .has-background.has-dark-background-color:not(.has-text-color) a,
.edit-post-visual-editor .has-background.has-light-background-color:not(.has-text-color) a {
  color: #fff;
  border-color: #fff;
  text-decoration: underline;
}

.edit-post-visual-editor .has-background.has-text-color a {
  color: inherit;
  border-color: inherit;
  text-decoration: underline;
}

.edit-post-visual-editor .has-background.has-text-color a,
.edit-post-visual-editor .has-background.has-text-color a:hover:not(.jubilee-button),
.has-background.has-text-color a:not(.jubilee-button),
.has-background.has-text-color a:hover:not(.jubilee-button),
.wp-block-cover :not(.has-text-color) a:not(.jubilee-button),
.wp-block-cover :not(.has-text-color) a:hover:not(.jubilee-button) {
  color: inherit;
  border-color: inherit;
  text-decoration: underline;
}

/* Table */

.edit-post-visual-editor .wp-block-table {
    font-size: 0.9em;
}

.edit-post-visual-editor .wp-block-table table {
    font-size: 1em;
}

.edit-post-visual-editor .wp-block-table tr:first-of-type .block-editor-rich-text__editable strong {
    color: #000;
    font-weight: bold;
}

/* Latest Posts, Categories, Archives */

.edit-post-visual-editor .wp-block-latest-posts,
.edit-post-visual-editor .wp-block-categories,
.edit-post-visual-editor .wp-block-archives {
  font-size: 1.15em;
  line-height: 1.6;
  color: #555;
}

.editor-block-list__block[data-type="core/categories"][data-align="center"] ul,
.editor-block-list__block[data-type="core/archives"][data-align="center"] ul {
  list-style: none;
  padding-left: 0;
}

.edit-post-visual-editor .wp-block-latest-posts .wp-block-latest-posts__post-date {
  margin-top: 0.35em;
}

/* Categories */

.editor-block-list__block[data-type="core/categories"][data-align="center"] .wp-block-categories ul ul a,
.editor-block-list__block[data-type="core/categories"][data-align="center"] .wp-block-archives ul ul a {
  font-weight: normal;
}

/* Classic Block */

.edit-post-visual-editor .wp-block-freeform > * {
  line-height: 1.2 !important;
  color: #555;
}

.edit-post-visual-editor .wp-block-freeform > p {
  font-size: 115%;
}

.edit-post-visual-editor .wp-block-freeform > *,
.edit-post-visual-editor .wp-block-freeform > p > img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.edit-post-visual-editor .wp-block-freeform > p > img {
  padding-top: 10px;
  padding-bottom: 10px;
}

  .edit-post-visual-editor .wp-block-freeform > p > img:first-child {
    margin-top: 0;
  }

  .edit-post-visual-editor .wp-block-freeform > p > img:last-child {
    margin-bottom: 0;
  }

.edit-post-visual-editor .wp-block-freeform img {
  border-radius: 0.5625em !important;
}

  .jubilee-shapes-angled img {
   border-radius: 1px;
  }

.edit-post-visual-editor .wp-block-freeform table {
  width: 100%;
  border: none;
}

  .edit-post-visual-editor .wp-block-freeform caption {
    margin-bottom: 1.25em;
    font-style: normal;
    text-align: left;
  }

  .edit-post-visual-editor .wp-block-freeform th {
    padding: 0 1.5625em 0.3125em 0;
    text-align: left;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    color: #000;
  }

  .edit-post-visual-editor .wp-block-freeform td {
    padding: 0.3125em 1.5625em 0.3125em 0;
    font-size: 1em;
  }

.edit-post-visual-editor .wp-block-freeform > ul,
.edit-post-visual-editor .wp-block-freeform > ol {
  color: #555;
}

.edit-post-visual-editor .wp-block-freeform li,
.edit-post-visual-editor .wp-block-freeform dl {
  font-size: 18px;
}

.edit-post-visual-editor .wp-block-freeform dt,
.edit-post-visual-editor .wp-block-freeform dd {
  font-size: 18px;
  line-height: 1.8 !important;
  padding: 0;
}

.edit-post-visual-editor .wp-block-freeform dt {
  margin-top: 22px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.edit-post-visual-editor .wp-block-freeform dd {
  color: #555;
}

.edit-post-visual-editor .wp-block-freeform .wp-caption,
.edit-post-visual-editor .wp-block-freeform .wp-caption-dd {
  padding-bottom: 7px;
  font-size: 0.95em;
  font-style: normal;
  line-height: 1.5 !important;
  color: #777;
  text-align: center;
}

.edit-post-visual-editor .wp-block-freeform .wp-caption.alignright {
  padding-left: 30px;
}

.edit-post-visual-editor .wp-block-freeform .wp-caption.alignleft {
  padding-right: 30px;
}

.edit-post-visual-editor .wp-block-freeform .wp-caption.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

.edit-post-visual-editor .wp-block-freeform blockquote {
  display: block;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0.7em 0 3.2em !important;
  font-style: italic;
  border: none;
}

  .edit-post-visual-editor .wp-block-freeform blockquote p {
    margin-top: 0;
    margin-bottom: 0.6875em;
    color: #000;
    font-size: 1.5em;
    line-height: 1.5 !important;
  }

  .edit-post-visual-editor .wp-block-freeform blockquote p:last-child {
    margin-bottom: 0;
  }

  .edit-post-visual-editor .wp-block-freeform blockquote:before {
    position: absolute;
    top: -0.18em;
    left: 0;
    display: block;
    content: "\201C";
    font-size: 5em;
    font-style: normal;
    font-weight: 600;
    color: #000;
  }

  .edit-post-visual-editor .wp-block-freeform blockquote cite {
    display: block;
    margin-top: 1.6875em !important;
    font-size: 0.65em !important;
    font-weight: normal;
    font-style: normal;
    text-transform: none !important;
    color: #555 !important;
  }

  .edit-post-visual-editor .wp-block-freeform blockquote cite:before {
    content: "\2014 \2009";
    font-weight: 300;
  }

/* File */

.wp-block-file__textlink .block-editor-rich-text {
  display: inline;
}

.wp-block-file__button-richtext-wrapper {
}

.wp-block-file__button {
  line-height: 3.35em !important;
}

/* Latest Comments */

.wp-block-latest-comments {
  margin: 2.5em 0 !important;
}

.wp-block-latest-comments__comment {
  position: relative;
  margin-bottom: 2.5em !important;
}

.wp-block-latest-comments__comment:last-child {
  margin-bottom: 0 !important;
}

  .wp-block-latest-comments__comment-avatar {
    float: none !important;
    position: absolute;
    top: 0;
  }

    .wp-block-latest-comments__comment-avatar {
      width: 54px !important;
      height: 54px !important;
      border-radius: 0.5625em;
    }

      .jubilee-shapes-organic .wp-block-latest-comments__comment-avatar {
       border-radius: 0.5625em;
      }

      .jubilee-shapes-angled .wp-block-latest-comments__comment-avatar {
        border-radius: 1px;
      }

  .wp-block-latest-comments__comment br {
    display: none;
  }

  .wp-block-latest-comments__comment-meta {
    margin: 0 !important;
    position: relative;
    top: 0;
    font-size: 1.15em !important;
  }

  .has-avatars .wp-block-latest-comments__comment-meta {
    left: 70px;
  }

  .has-avatars:not(.has-dates) .wp-block-latest-comments__comment-meta {
    top: 16px;
  }

    .wp-block-latest-comments__comment-meta > * {
      margin: 0 !important;
    }

    .wp-block-latest-comments__comment-author {
      font-weight: normal;
      color: #000;
    }

    .wp-block-latest-comments time {
      margin-top: 0.4em !important;
      font-size: 0.8em !important;
      color: #000;
    }

  .wp-block-latest-comments__comment-excerpt {
    margin-top: 1.8em !important;
    margin-left: 0 !important;
  }

  .has-avatars:not(.has-dates) .wp-block-latest-comments__comment-excerpt {
    margin-top: 3em !important;
  }

    .wp-block-latest-comments__comment-excerpt p {
      font-size: 1.05em !important;
      line-height: 1.8 !important;
    }

/* Media and Text */

.wp-block-media-text[class*=background-color],
.wp-block-media-text[style*=background-color] {
  margin-top: 3em !important;
  margin-bottom: 3em !important;
  border-radius: 2px;
}

.wp-block-media-text[class*=background-color]:not(.has-media-on-the-right),
.wp-block-media-text[style*=background-color]:not(.has-media-on-the-right) {
  padding-left: 2em;
}

.wp-block-media-text.has-media-on-the-right[class*=background-color],
.wp-block-media-text.has-media-on-the-right[style*=background-color] {
  padding-left: 0.5em;
  padding-right: 2em;
}

.wp-block-media-text img {
  border-radius: 0.5625em;
}

  .jubilee-shapes-organic .wp-block-media-text img {
    border-radius: 0.5625em;
  }

  .jubilee-shapes-angled .wp-block-media-text img {
    border-radius: 1px;
  }

@media only screen and (max-width: 600px) {

  .wp-block-media-text.is-stacked-on-mobile[class*=background-color]:not(.has-media-on-the-right),
  .wp-block-media-text.is-stacked-on-mobile[style*=background-color]:not(.has-media-on-the-right) {
    padding-left: 0;
  }

  .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right[class*=background-color],
  .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right[style*=background-color] {
    padding-left: 0;
    padding-right: 0;
  }

   .wp-block-media-text__media {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

}

/* Hide Button Styles */

.editor-block-styles .editor-block-styles__item[role='button'][aria-label='Rounded'],
.editor-block-styles .editor-block-styles__item[role='button'][aria-label='Outline'],
.editor-block-styles .editor-block-styles__item[role='button'][aria-label='Squared'] {
  display: none;
}

/* RSS Block */

.wp-block-rss {
  padding: 0 !important;
}

.wp-block-rss__item {
  position: relative;
  margin-bottom: 1.4em !important;
  list-style: none;
}

.wp-block-rss__item-title {
  font-size: 1.1em;
}

.wp-block-rss time {
  margin-top: 0.4em !important;
  font-size: 0.85em !important;
  color: #000;
}

.wp-block-rss__item-author {
  color: #555;
  font-size: 0.85em !important;
}

.wp-block-rss__item-excerpt {
  margin-top: 0.4em !important;
  margin-left: 0 !important;
  font-size: 0.95em !important;
  color: #555;
}

  .wp-block-rss__item-excerpt p {
    font-size: 1.05em !important;
    line-height: 1.8 !important;
  }

/* Search Block */

.wp-block-search {
  max-width: 600px;
}

.wp-block-search .wp-block-search__input {
  border: 2px solid #000;
  border-radius: 3px;
  padding: 0 0.625em;
  height: 2.6em;
  line-height: 2.6em;
  font-size: 1.1em;
  color: #000;
  background-color: #fafafa;
  outline: 0;
}

/* Tag Cloud */

.wp-block-tag-cloud .tag-cloud-link {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-right: 0.3em;
  line-height: 1.3;
  white-space: nowrap;
}

.wp-block-tag-cloud .tag-link-count {
  font-weight: normal;
  color: #555 !important;
}

/* Calendar */

.wp-block-calendar {
  width: 100%;
  max-width: 600px;
}

.wp-block-calendar #wp-calendar {
  width: 100%;
  min-height: 300px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-calendar #wp-calendar caption,
.wp-block-calendar #wp-calendar td,
.wp-block-calendar #wp-calendar th {
  padding: 0.25em;
  text-align: left;
  border: 0;
}

.wp-block-calendar #wp-calendar caption {
  color: #000;
  padding: 0 0 1.1em 0;
  font-size: 1.15em;
  font-weight: bold;
  font-style: normal;
}

.wp-block-calendar #wp-calendar th {
  border: 0;
  background: none;
  padding: 0.625em 0 0.625em 0.25em;
  color: #000;
  font-weight: bold;
}

.wp-block-calendar #wp-calendar a {
  text-decoration: none;
}

.wp-block-calendar #wp-calendar tfoot td {
  padding-top: 1.125em;
}

.wp-block-calendar #wp-calendar tfoot td a {
    font-weight: bold;
    text-decoration: none;
}

.wp-block-calendar #wp-calendar tfoot td#next {
    text-align: right;
    padding-right: 8%;
}

.jubilee-has-uppercase .wp-block-calendar #wp-calendar caption,
.jubilee-has-uppercase .wp-block-calendar #wp-calendar tfoot td {
  text-transform: uppercase;
}
