
//---------------------------------------------
// Typography
//---------------------------------------------

// Uppercase

@mixin jubilee-uppercase() {

	.jubilee-has-uppercase & {
		text-transform: uppercase;
	}

}
//---------------------------------------------
// Custom Elements
//---------------------------------------------

// Box (with shadow; for dropdowns, tooltips, etc.)

@mixin jubilee-box( $border-radius: $box-border-radius ) {

	background-color: $bg-color-box;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.09);
	border-radius: $border-radius;

	.jubilee-shapes-organic & {
		border-radius: $box-border-radius-organic;
	}

	.jubilee-shapes-angled & {
		border-radius: $box-border-radius-angled;
	}

}

//---------------------------------------------
// Spacing
//---------------------------------------------

// Vertical Spacing
// See _layout.scss for explanation
@mixin jubilee-vertical-spacing( $device: 'default' ) {

	// Regular sizing
	$small: $vertical-space-small;
	$medium: $vertical-space-medium;
	$large: $vertical-space-large;

	// Mobile sizing
 	@if $device == 'mobile' {
		$small: $mobile-vertical-space-small;
		$medium: $mobile-vertical-space-medium;
		$large: $mobile-vertical-space-large;
	}

	// Content sizing
	// Reduce to compensate for increased line height in content blocks
	$small-content: $small * $vertical-space-content-reduction;
	$medium-content: $medium * $vertical-space-content-reduction;
	$large-content: $large * $vertical-space-content-reduction;

	// Small

	.jubilee-vertical-margin-small {
	  margin-top: $small;
	  margin-bottom: $small;
	}

	.jubilee-vertical-padding-small {
	  padding-top: $small;
	  padding-bottom: $small;
	}

	.jubilee-vertical-margin-top-small {
	  margin-top: $small;
	}

	.jubilee-vertical-padding-top-small {
	  padding-top: $small;
	}

	.jubilee-vertical-margin-bottom-small {
	  margin-bottom: $small;
	}

	.jubilee-vertical-padding-bottom-small {
	  padding-bottom: $small;
	}

	// Small (Content)

	.jubilee-vertical-margin-small-content {
	  margin-top: $small-content;
	  margin-bottom: $small-content;
	}

	.jubilee-vertical-padding-small-content {
	  padding-top: $small-content;
	  padding-bottom: $small-content;
	}

	.jubilee-vertical-margin-top-small-content {
	  margin-top: $small-content;
	}

	.jubilee-vertical-padding-top-small-content {
	  padding-top: $small-content;
	}

	.jubilee-vertical-margin-bottom-small-content {
	  margin-bottom: $small-content;
	}

	.jubilee-vertical-padding-bottom-small-content {
	  padding-bottom: $small-content;
	}

	// Medium

	.jubilee-vertical-margin-medium {
	  margin-top: $medium;
	  margin-bottom: $medium;
	}

	.jubilee-vertical-padding-medium {
	  padding-top: $medium;
	  padding-bottom: $medium;
	}

	.jubilee-vertical-margin-top-medium {
	  margin-top: $medium;
	}

	.jubilee-vertical-padding-top-medium {
	  padding-top: $medium;
	}

	.jubilee-vertical-margin-bottom-medium {
	  margin-bottom: $medium;
	}

	.jubilee-vertical-padding-bottom-medium {
	  padding-bottom: $medium;
	}

	// Medium (Content)

	.jubilee-vertical-margin-medium-content {
	  margin-top: $medium-content;
	  margin-bottom: $medium-content;
	}

	.jubilee-vertical-padding-medium-content {
	  padding-top: $medium-content;
	  padding-bottom: $medium-content;
	}

	.jubilee-vertical-margin-top-medium-content {
	  margin-top: $medium-content;
	}

	.jubilee-vertical-padding-top-medium-content {
	  padding-top: $medium-content;
	}

	.jubilee-vertical-margin-bottom-medium-content {
	  margin-bottom: $medium-content;
	}

	.jubilee-vertical-padding-bottom-medium-content {
	  padding-bottom: $medium-content;
	}

	// Large

	.jubilee-vertical-margin-large {
	  margin-top: $large;
	  margin-bottom: $large;
	}

	.jubilee-vertical-padding-large {
	  padding-top: $large;
	  padding-bottom: $large;
	}

	.jubilee-vertical-margin-top-large {
	  margin-top: $large;
	}

	.jubilee-vertical-padding-top-large {
	  padding-top: $large;
	}

	.jubilee-vertical-margin-bottom-large {
	  margin-bottom: $large;
	}

	.jubilee-vertical-padding-bottom-large {
	  padding-bottom: $large;
	}

	// Large (Content)

	.jubilee-vertical-margin-large-content {
	  margin-top: $large-content;
	  margin-bottom: $large-content;
	}

	.jubilee-vertical-padding-large-content {
	  padding-top: $large-content;
	  padding-bottom: $large-content;
	}

	.jubilee-vertical-margin-top-large-content {
	  margin-top: $large-content;
	}

	.jubilee-vertical-padding-top-large-content {
	  padding-top: $large-content;
	}

	.jubilee-vertical-margin-bottom-large-content {
	  margin-bottom: $large-content;
	}

	.jubilee-vertical-padding-bottom-large-content {
	  padding-bottom: $large-content;
	}

	// Misc

	.jubilee-vertical-margin-medium-small-content { // headings in content
	  margin-top: $medium-content;
	  margin-bottom: $small-content;
	}

}

//---------------------------------------------
// Entries / Columns
//---------------------------------------------

// Four Columns (Entries)
@mixin jubilee-loop-four-columns( $spacing-px: 30 ) {

	$spacing: ct-em($spacing-px);

	&.jubilee-loop-entries {
		margin-bottom: -$spacing;
	}

	.jubilee-entry-short {

		display: block;
		float: left;
		width: 22%; // fallback for Android 4.3 and earlier
		width: calc( 24.95% - #{ct-em( $spacing-px * 3 / 4 )} );
		margin-bottom: $spacing;

		// Right margin except on every 4th item

		&:not(:nth-child(4n)) {
			margin-right: $spacing;
		}

		// Fade excerpt out after max-height
		// Different max-height depending on columns

		max-height: ct-em(307); // four columns

	}

}

// Three Columns (Entries)
@mixin jubilee-loop-three-columns( $spacing-px: 30 ) {

	$spacing: ct-em($spacing-px);

	&.jubilee-loop-entries {
		margin-bottom: -$spacing;
	}

	.jubilee-entry-short {

		display: block;
		float: left;
		width: 32%; // fallback for Android 4.3 and earlier
		width: calc( 33.2% - #{ct-em( $spacing-px * 2 / 3 )} );
		margin-bottom: $spacing;

		// Right margin except on every 3rd item

		&:not(:nth-child(3n)) {
			margin-right: $spacing;
		}

		// Fade excerpt out after max-height
		// Different max-height depending on columns

		max-height: ct-em(338); // three columns

		// In homepage widget (it's one column when have image)

		@media only screen and (min-width: 641px) { // special height only before go full width on mobile (see _media-queries.scss)

			.jubilee-image-section & {
				max-height: ct-em(276);
			}

		}

	}

}

// Two Columns (Entries)
@mixin jubilee-loop-two-columns( $spacing-px: 40 ) {

	$spacing: ct-em($spacing-px);

	// Negate other columns
	// For going from 4 to 2 to 1 columns on mobile

	.jubilee-entry-short:not(:nth-child(4n)) { // four columns
		margin-right: 0;
	}

	&.jubilee-loop-entries { // four and three columns
		margin-bottom: 0;
	}

	// Entry

	.jubilee-entry-short {

		display: block;
		float: left;
  		width: 45%; // fallback for Android 4.3 and earlier
		width: calc( 49.9% - #{ct-em( $spacing-px / 2)} );
		margin-bottom: $spacing;

		// Right margin only on left column

		&:not(:nth-child(2n)) {
			margin-right: $spacing;
		}

		// No bottom margin on last two items

		&:nth-last-of-type(-n+2) {
			margin-bottom: 0;
		}

		// Title

		h2 {
			font-size: 1.6em; // h3 equivalent
		}

		// Fade excerpt out after max-height
		// Different max-height depending on columns

		max-height: ct-em(348); // two columns

	}

}

// One Column (Entries)
@mixin jubilee-loop-one-column( $spacing-px: 50 ) {

	$spacing: ct-em($spacing-px);

	// Negate other columns
	// For going from 4 to 2 to 1 columns on mobile

	&.jubilee-loop-entries { // four and three columns
		margin-bottom: 0;
	}

	&:not(:nth-child(2n)), // two columns
	&:nth-last-of-type(-n+2) { // two columns
		margin-bottom: 0;
	}

	// Never awkwardly wide

	max-width: 565px;

	// Entry

	.jubilee-entry-short {

		float: none;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: $spacing !important;

		// No margin bottom on last entry

		&:last-child {
			margin-bottom: 0 !important;
		}

	}

}

//---------------------------------------------
// Homepage Highlights / Columns
//---------------------------------------------

// Four Columns (Highlights)
@mixin jubilee-highlights-four-columns( $spacing-px: 30 ) {

	$spacing: ct-em($spacing-px);

	margin-bottom: -$spacing;

	.jubilee-highlight {

		display: block;
		float: left;
		width: 22%; // fallback for Android 4.3 and earlier
		width: calc( 24.95% - #{ct-em( $spacing-px * 3 / 4 )} );
		margin-bottom: $spacing;

		// Right margin except on every 4th item

		&:not(:nth-child(4n)) {
			margin-right: $spacing;
		}

	}

}

// Three Columns (Highlights)
@mixin jubilee-highlights-three-columns( $spacing-px: 60 ) {

	$spacing: ct-em($spacing-px);

	margin-bottom: -$spacing;

	.jubilee-highlight {

		display: block;
		float: left;
		width: 32%; // fallback for Android 4.3 and earlier
		width: calc( 33.2% - #{ct-em( $spacing-px * 2 / 3 )} );
		margin-bottom: $spacing;

		// Right margin except on every 3rd item

		&:not(:nth-child(3n)) {
			margin-right: $spacing;
		}

	}

}

// Two Columns (Highlights)
@mixin jubilee-highlights-two-columns( $spacing-px: 40 ) {

	$spacing: ct-em($spacing-px);

	// Negate other columns
	// For going from 3 to 2 to 1 columns on mobile

	.jubilee-highlight:not(:nth-child(3n)) { // three columns
		margin-right: 0;
	}

	margin-bottom: 0; // four and three columns

	// Entry

	.jubilee-highlight {

		display: block;
		float: left;
  		width: 45%; // fallback for Android 4.3 and earlier
		width: calc( 49.9% - #{ct-em( $spacing-px / 2)} );
		margin-bottom: $spacing;

		// Right margin only on left column

		&:not(:nth-child(2n)) {
			margin-right: $spacing;
		}

		// No bottom margin on last two items

		&:nth-last-of-type(-n+2) {
			margin-bottom: 0;
		}

	}

}

// One Column (Highlights)
@mixin jubilee-highlights-one-column( $spacing-px: 50 ) {

	$spacing: ct-em($spacing-px);

	// Negate other columns
	// For going from 4 to 2 to 1 columns on mobile

	&:not(:nth-child(2n)), // two columns
	&:nth-last-of-type(-n+2) { // two columns
		margin-bottom: 0;
	}

	// Entry

	.jubilee-highlight {

		float: none;
		width: 100%;
		margin-left: auto !important;
		margin-right: auto !important;
		margin-bottom: $spacing !important;

		// No margin bottom on last entry

		&:last-child {
			margin-bottom: 0 !important;
		}

	}

}
