
/*---------------------------------------------
 * Gallery (Single) - Classic
 *--------------------------------------------*/

// Note that these classes also used for showing cover thumbnails on Galleries template

// Gallery Container

.gallery {

	@extend .jubilee-clearfix;
	@extend .jubilee-vertical-margin-medium-content; // automatically responsive when extending

	position: relative;
	font-size: $enlarged-font-size-reverse;

}

	// Thumbnail Container

	.gallery-item {
		display: block;
		position: relative;
		margin: 0;
		float: left; // fills vertical gaps in some browsers
	}

		.gallery-icon {

			max-width: 480px;
			overflow: hidden; // prevent most lines between images (see img max-width)

			a {
				display: block; // helps with spacing, especially with regard to matchHeight
				border: 0 !important;
			}

				img {
					display: block; // fixes line at top of image at certain screen sizes
					border-radius: 0;
					max-width: calc( 100% + 2px ); // prevent most lines between images (see .gallery-icon overflow)
				}

		}

		// Thumbnail caption

		.gallery-caption {

			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: ct-em(15) ct-em(15) ct-em(16) ct-em(14);
			line-height: 1;
			opacity: 0;
			font-size: 0.8em;
			font-style: italic;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis; // ... before overflows
			background-color: rgba( 0, 0, 0, 0.5 );
			color: #fff;
			cursor: pointer;
			backface-visibility: hidden;
			@extend .jubilee-text-over-image;

			// Show on hover

			transition: all 0.25s ease-in-out;

			.gallery-item:hover & {
				opacity: 1;
			}

		}

		// No caption for very small thumbnails, galleries in widgets

		.gallery-columns-6 .gallery-caption,
		.gallery-columns-7 .gallery-caption,
		.gallery-columns-8 .gallery-caption,
		.gallery-columns-9 .gallery-caption,
		.jubilee-widget .gallery-caption {
			display: none;
		}

	// Multi-column widths

	.gallery-columns-1 {

		text-align: center;

		.gallery-item {
			display: inline-block;
			width: auto;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}

	}

	.gallery-columns-2 .gallery-item {
		max-width: #{(100% / 2)};
	}

	.gallery-columns-3 .gallery-item {
		max-width: #{(100% / 3)};
	}

	.gallery-columns-4 .gallery-item {
		max-width: #{(100% / 4)};
	}

	.gallery-columns-5 .gallery-item {
		max-width: #{(100% / 5)};
	}

	.gallery-columns-6 .gallery-item {
		max-width: #{(100% / 6)};
	}

	.gallery-columns-7 .gallery-item {
		max-width: #{(100% / 7)};
	}

	.gallery-columns-8 .gallery-item {
		max-width: #{(100% / 8)};
	}

	.gallery-columns-9 .gallery-item {
		max-width: #{(100% / 9)};
	}

/*---------------------------------------------
 * Galleries (Multiple)
 *--------------------------------------------*/

#jubilee-galleries.jubilee-highlights-content {

	@extend .jubilee-vertical-margin-top-medium;

	font-size: 0.55em; // smaller than homepage

	h2 {
		@extend .jubilee-h3;
		@extend .jubilee-vertical-margin-bottom-small;
		margin-top: 0;
		margin-bottom: 0 !important;
		font-size: 1.9em;
	}

	.jubilee-caption-image-description {
		font-size: 1.4em;
	}

}
