
/*---------------------------------------------
 * Contact Form 7
 *--------------------------------------------*/

div.wpcf7 {

	@extend .jubilee-vertical-margin-small;

	input {
		max-width: 95%;
	}

}

span.wpcf7-form-control-wrap {
	width: 100%;
}

div.wpcf7-mail-sent-ok,
div.wpcf7-mail-sent-ng,
div.wpcf7-spam-blocked,
div.wpcf7-validation-errors {
	padding: 0;
	margin: 0;
	border: 0;
	font-weight: normal;
	@extend .jubilee-dark;
}

span.wpcf7-not-valid-tip {
	top: 30%;
	left: 30%;
	width: auto;
	padding: ct-em(5) 0 0 0;
	border: 0;
	font-size: 0.9em;
	font-weight: normal;
	//font-style: italic;
	@extend .jubilee-dark;
}

span.wpcf7-not-valid-tip,
div.wpcf7-validation-errors {
	background: none;
	color: $text-color-error;
}

span.wpcf7-not-valid-tip-no-ajax {
	padding-top: ct-em(5);
	font-size: 1em;
	font-weight: 600;
	color: $text-color-error;
}

span.wpcf7-form-control-wrap textarea {
	max-width: 100% !important;
}

/*---------------------------------------------
 * Jetpack
 *--------------------------------------------*/

// Hide the Jetpack stat smiley (used when JS off)

#wpstats {
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 30000px;
	overflow: hidden;
}
