
// These styles are for WordPress-generated elements and classes

/*---------------------------------------------
 * WordPress Images
 *--------------------------------------------*/

.alignnone {
	@extend .jubilee-vertical-margin-small;
}

p .alignnone {
	margin-top: ct-em(12);
	margin-bottom: ct-em(12);
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	@extend .jubilee-vertical-margin-small;
}

.alignleft {
	float: left;
	margin: ct-em(20) ct-em(35) ct-em(20) 0;
}

.alignright {
	float: right;
	margin: ct-em(20) 0 ct-em(20) ct-em(40);
}

/*---------------------------------------------
 * Captions
 *--------------------------------------------*/

.wp-caption-text,
.wp-caption-dd, // editor
.wp-block-image figcaption,
.wp-block-audio figcaption,
.wp-block-video figcaption,
.wp-block-embed figcaption {
	@extend .jubilee-light;
	margin: ct-em(8) 0 0 0;
	padding: 0 0.5em;
	font-size: 0.8em;
	font-style: normal;
	line-height: 1.5;
	text-align: center;
}

.wp-caption,
.wp-block-image figcaption {
	max-width: 100%;
	text-align: center;
}

/*---------------------------------------------
 * Gutenberg Blocks
 *--------------------------------------------*/

// Sized Text

.has-huge-font-size {
	line-height: 1.2;
	@extend .jubilee-dark;
}

.has-large-font-size {
	line-height: 1.3;
	@extend .jubilee-dark;
}

.has-medium-font-size {
	font-size: 1.1em !important;
}

.has-regular-font-size {
	font-size: 1em !important;
}

.has-small-font-size {
	font-size: 0.9em !important;
	line-height: 1.6;
}

.has-background.has-huge-font-size,
.has-background.has-large-font-size {
	padding: 1em;
}

// Extra Margin

.wp-block-image:not(.alignleft):not(.alignright),
.wp-block-cover,
.wp-block-audio,
.wp-block-video,
.wp-block-embed,
.wp-block-gallery,
.wp-block-quote,
.wp-block-quote.is-style-large,
.wp-pull-quote,
.wp-block-separator,
.has-background,
.wp-block-button,
.jubilee-block-wide-container {
	@extend .jubilee-vertical-margin-large-content; // automatically responsive when extending
}

// Columns

.wp-block-columns {
  margin: 1.5em 0 !important;
}

.wp-block-column {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 2.5em !important;
}

.wp-block-column:last-child {
  margin-right: 0 !important;
}

.wp-block-column > *:first-child {
  margin-top: 0 !important;
}

.wp-block-column > *:last-child {
  margin-bottom: 0 !important;
}

// Spacing Tweaks

.wp-block-image.alignright,
.wp-block-image.alignleft {
	margin-top: ct-em(24) !important;
}

// Cover Image

.wp-block-cover {

	padding-left: 4%;
	padding-right: 4%;
	//font-size: ct-em(15);

	a:not(.jubilee-button-block),
	a:not(.jubilee-button-block):hover {
		display: inline-block;
		line-height: 1;
		color: #fff !important;
		border-color: #fff !important;
		border-width: 0 0 ct-em(1.5) 0 !important;
		text-decoration: underline;
	}

	&.alignleft,
	&.alignright {

		margin-top: 0.7em !important;
		margin-bottom: 0.7em !important;
		font-size: 0.75em;

		.wp-block-cover-text {
			line-height: 1.25 !important;
		}

	}

	&.alignleft {
		margin-right: 2.5em;
	}

	&.alignright {
		margin-left: 2.5em;
	}

	.jubilee-button-block {
		font-size: 0.85em;
		margin-top: 0.6em;
		margin-bottom: 0.6em;
	}

}

	.wp-block-cover__inner-container {
		padding-top: 1.2em;
		padding-bottom: 1.2em;
	}

	.wp-block-cover__inner-container > *:first-child {
		margin-top: 0;
	}

	.wp-block-cover__inner-container > *:last-child {
		margin-bottom: 0;
	}

	.wp-block-cover-text {
		margin-top: 0;
	}

	.wp-block-cover p.has-drop-cap:not(.has-text-color)::first-letter {
		color: #fff;
	}

	.wp-block-cover h1,
	.wp-block-cover h2,
	.wp-block-cover h3,
	.wp-block-cover h4,
	.wp-block-cover h5,
	.wp-block-cover h6, {
		max-width: 100%;
		padding-left: 0;
		margin-bottom: 0.8em;
	}

	.jubilee-entry-content .wp-block-cover a:hover:not(.jubilee-button) {
		color: #fff !important;
		text-decoration: underline;
	}

.wp-block-cover,
.wp-block-cover::before {

	border-width: 0;
	border-radius: $image-border-radius;

	.jubilee-shapes-organic & {
		border-radius: $image-border-radius-organic;
	}

	.jubilee-shapes-angled & {
		border-radius: $image-border-radius-angled;
	}

}

// Pullquote - see blockquote in _base-elements.scss

// Button (shown by JS)

.js .wp-block-button {
	visibility: hidden;
}

// Block Image

.wp-block-image:not(.alignright):not(.alignleft):not(.jubilee-image-exceed-700-980) {
	width: 100%;
}

.wp-block-image.alignwide,
.wp-block-image.alignfull {
	max-width: none !important;
}

.wp-block-image figure.alignleft,
.wp-block-image figure.alignright {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

.wp-block-image figure.alignleft {
	margin-right: 2em;
}

.wp-block-image figure.alignright {
	margin-left: 2em;
}

// Embed

.wp-block-embed figcaption {
	padding-top: 6px;
}

// Gallery

.wp-block-gallery {

	margin-left: 0;

	.blocks-gallery-item  {

		img,
		figcaption {

			border-radius: $image-border-radius;

			.jubilee-shapes-square & {
				border-radius: $image-border-radius !important;
			}

			.jubilee-shapes-organic & {
				border-radius: $image-border-radius !important;
			}

			.jubilee-shapes-angled & {
				border-radius: $image-border-radius-angled !important;
			}

		}

		figcaption {

			//font-style: italic;
			font-style: normal;
			line-height: 1.3;
			padding-bottom: ct-em(10);

		}

		figcaption a,
		figcaption a:hover {
			color: #fff !important;
			border-color: #fff !important;
			text-decoration: underline;
		}

		figcaption i,
		figcaption em {
			font-style: normal;
		}

	}

	&.alignleft,
	&.alignright {
	  margin-top: 0.5em !important;
	  margin-bottom: 0.5em !important;
	}

	&.alignleft {
	  margin-right: 1.4em;
	}

	&.alignright {
	  margin-left: 1.4em;
	}

}

// Verse (Poetry)

pre.wp-block-verse {

	padding: 1.4em 1.8em;
	border-radius: 2px;
	background-color: whitesmoke;
	font-size: 1.2em;
	color: #000;
	white-space: nowrap;
	word-wrap: break-word;
	line-break: after-white-space;
	overflow: auto;

	border-radius: $box-border-radius;

	.jubilee-shapes-organic & {
		border-radius: $box-border-radius-organic;
	}

	.jubilee-shapes-angled & {
		border-radius: $box-border-radius-angled;
	}

}

// Code

.wp-block-code {
	font-size: 1em;
}

// Preformatted

.wp-block-preformatted {
	font-size: 0.75em;
}

// Separator

.wp-block-separator,
.wp-block-separator.is-style-wide,
.wp-block-separator.is-style-dots {
	@extend .jubilee-vertical-margin-large;
	width: 200px;
	max-width: 100%;
	border-color: #ddd;
	border-top-width: 2.5px;
	border-bottom-width: 2.5px;
}

.wp-block-separator.is-style-wide {
	width: 100%;
}

.wp-block-separator.is-style-dots {
	border-style: dashed;
	border-top-width: 5px;
	border-bottom-width: 0;
	height: 0;
}

.wp-block-separator.is-style-dots:before {
	display: none;
}

/* Dropcap */

.has-drop-cap:not(:focus):first-letter {
	margin: 0 0.15em 0 0;
	font-weight: 700 !important;
	font-size: 4em !important;
	line-height: 0.8;
	padding-top: 0.05em;
}

	.has-drop-cap.has-small-font-size:not(:focus):first-letter {
		font-size: 3.5em !important;
		padding-top: 0.025em;
	}

	.has-drop-cap.has-medium-font-size:not(:focus):first-letter {
		font-size: 4em !important;
		padding-top: 0.025em;
	}

	.has-drop-cap.has-large-font-size:not(:focus):first-letter {
		font-size: 3.1em !important;
		padding-top: 0;
	}

	.has-drop-cap.has-huge-font-size:not(:focus):first-letter {
		font-size: 2.9em !important;
		padding-top: 0;
	}

.has-drop-cap:not(.has-text-color):not(:focus):first-letter {
	color: $text-color-dark;
}

/* Has Background */

.has-background {

	border-radius: $box-border-radius;

	.jubilee-shapes-organic & {
		border-radius: $box-border-radius-organic;
	}

	.jubilee-shapes-angled & {
		border-radius: $box-border-radius-angled;
	}

}

.has-background.has-main-background-color:not(.has-text-color),
.has-background.has-accent-background-color:not(.has-text-color),
.has-background.has-dark-background-color:not(.has-text-color),
.has-background.has-light-background-color:not(.has-text-color),
.has-background.has-main-background-color.has-drop-cap:not(.has-text-color):not(:focus):first-letter,
.has-background.has-accent-background-color.has-drop-cap:not(.has-text-color):not(:focus):first-letter,
.has-background.has-dark-background-color.has-drop-cap:not(.has-text-color):not(:focus):first-letter,
.has-background.has-light-background-color.has-drop-cap:not(.has-text-color):not(:focus):first-letter {
	color: #fff; // White text when using certain preset colors and don't have custom text color
}

.has-background.has-main-background-color:not(.has-text-color) a,
.has-background.has-accent-background-color:not(.has-text-color) a,
.has-background.has-dark-background-color:not(.has-text-color) a,
.has-background.has-light-background-color:not(.has-text-color) a,
.has-background.has-main-background-color:not(.has-text-color) a:hover:not(.jubilee-button),
.has-background.has-accent-background-color:not(.has-text-color) a:hover:not(.jubilee-button),
.has-background.has-dark-background-color:not(.has-text-color) a:hover:not(.jubilee-button),
.has-background.has-light-background-color:not(.has-text-color) a:hover:not(.jubilee-button) {
	color: #fff !important;
	border-color: #fff !important;
	text-decoration: underline;
}

.has-background.has-text-color a,
.has-background.has-text-color a:hover:not(.jubilee-button),
.jubilee-entry-content .has-background.has-text-color a:not(.jubilee-button),
.jubilee-entry-content .has-background.has-text-color a:hover:not(.jubilee-button),
.jubilee-entry-content .wp-block-cover :not(.has-text-color) a:not(.jubilee-button),
.jubilee-entry-content .wp-block-cover :not(.has-text-color) a:hover:not(.jubilee-button) {
  	color: inherit !important;
  	border-color: inherit !important;
	text-decoration: underline;
}

//.jubilee-entry-content a:hover:not(.jubilee-button):not(.wp-block-file__button)

/* Table */

.wp-block-table,
.wp-block-table * {
	border-radius: 0 !important;
}

.wp-block-table table {
	margin: 0;
}

.wp-block-table.alignwide,
.wp-block-table.alignfull, {
	width: 100%;
}

.wp-block-table tr:first-of-type strong {
    @extend .jubilee-dark;
}

.wp-block-table.is-style-stripes {
	border: none;
}

.wp-block-table.is-style-stripes tr:nth-child(odd) {
	background-color: #f5f5f5;
}

.wp-block-table.is-style-stripes tr > * {
	padding-left: 1em;
	padding-right: 1em;
}

/* Latest Posts, Categories, Archives */

.wp-block-categories.aligncenter,
.wp-block-archives.aligncenter {
	list-style: none;
	text-align: center;
}

.wp-block-categories.aligncenter li,
.wp-block-archives.aligncenter li {
	list-style: none;
	text-align: center;
}

.wp-block-categories.aligncenter ul,
.wp-block-archives.aligncenter ul {
	margin-left: 0;
}

.wp-block-categories.aligncenter ul a,
.wp-block-archives.aligncenter ul a {
	font-weight: normal !important;
}

/* Latest Posts */

.wp-block-latest-posts.is-grid {
	margin-left: 0;
}

.wp-block-latest-posts__post-date {
	margin: 0.4em 0 0.3em 0 !important;
}

.wp-block-latest-posts {
	line-height: 1.4;
}

/* File */

.wp-block-file .wp-block-file__button {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	opacity: 1 !important;
}

/* Latest Comments */

.wp-block-latest-comments {
	margin: 2.5em 0 !important;
}

.wp-block-latest-comments__comment { // li
	position: relative;
	margin-bottom: 2.5em !important;
	margin-top: 0 !important;
}

.wp-block-latest-comments__comment:last-child {
	margin-bottom: 0 !important;
}

	.wp-block-latest-comments__comment-avatar {
		float: none !important;
		position: absolute;
		top: 0;
	}

		.wp-block-latest-comments__comment-avatar {

			width: 54px !important;
			height: 54px !important;
			border-radius: $image-border-radius !important;

			.jubilee-shapes-angled & {
				border-radius: $image-border-radius-angled !important;
			}

		}

	.wp-block-latest-comments__comment br {
		display: none;
	}

	.wp-block-latest-comments__comment-meta {
		margin: 0 !important;
		position: relative;
		top: 0;
		font-size: 1.15em !important;
	}

	.has-avatars .wp-block-latest-comments__comment-meta {
		left: 70px;
	}

	.has-avatars:not(.has-dates) .wp-block-latest-comments__comment-meta {
		top: 16px;
	}

		.wp-block-latest-comments__comment-meta > * {
			margin: 0 !important;
		}

		.wp-block-latest-comments__comment-author {
			font-weight: normal;
			color: #000;
		}

		.wp-block-latest-comments time {
			margin-top: 0.4em !important;
			font-size: 0.8em !important;
			color: #000;
		}

	.wp-block-latest-comments__comment-excerpt {
		margin-left: 0 !important;
	}

	.has-avatars:not(.has-dates) .wp-block-latest-comments__comment-excerpt {
		margin-top: 3em !important;
	}

		.wp-block-latest-comments__comment-excerpt p {
			font-size: 1.05em;
		}

/* Media and Text */

.wp-block-media-text[class*=background-color],		// preset
.wp-block-media-text[style*=background-color] {		// custom color

	margin-top: 3em !important;
	margin-bottom: 3em !important;
	border-radius: $box-border-radius; // rounded corners when have BG color

	.jubilee-shapes-organic & {
		border-radius: $box-border-radius-organic;
	}

	.jubilee-shapes-angled & {
		border-radius: $box-border-radius-angled;
	}

}

.wp-block-media-text[class*=background-color]:not(.has-media-on-the-right),
.wp-block-media-text[style*=background-color]:not(.has-media-on-the-right) {
	padding-left: 2em; // padding when have BG color and media on left
}

.wp-block-media-text.has-media-on-the-right[class*=background-color],
.wp-block-media-text.has-media-on-the-right[style*=background-color] {
	padding-left: 0.5em; // padding when have BG color and media on right
	padding-right: 2em; // padding when have BG color and media on right
}

@media only screen and (max-width: 600px) {

	.wp-block-media-text.is-stacked-on-mobile[class*=background-color]:not(.has-media-on-the-right),
	.wp-block-media-text.is-stacked-on-mobile[style*=background-color]:not(.has-media-on-the-right) {
		padding-left: 0;
	}

	.wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right[class*=background-color],
	.wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right[style*=background-color] {
		padding-left: 0;
		padding-right: 0;
	}

	 .wp-block-media-text__media {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

}

/* RSS Block */

.wp-block-rss {
	margin: 0;
	padding: 0;
}

.wp-block-rss__item {
	position: relative;
	margin-top: 0 !important;
	margin-bottom: 1.3em !important;
	list-style: none;
}

.wp-block-rss__item-title {
	margin: 0 !important;
}

.wp-block-rss time {
	margin-top: 0.4em !important;
	color: $text-color-dark;
}

.wp-block-rss__item-author {
	color: $text-color;
}


.wp-block-rss time,
.wp-block-rss__item-author {
	font-size: 0.75em;
}

.wp-block-rss__item-excerpt {
	margin-top: 0.4em !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	font-size: 0.85em;
}

.wp-block-rss__item-excerpt p {
	font-size: 1.05em !important;
	line-height: 1.8 !important;
	margin: 0 !important;
}

/* Search Block */

.wp-block-search {
	max-width: 600px;
}

.wp-block-search > * {
	margin: 0 !important;
}

.wp-block-search__label {
	font-weight: bold;
}

.wp-block-search__button.jubilee-button {
	font-size: 0.72em;
	margin-left: 0.6em !important;
}

/* Tag Cloud */

.wp-block-tag-cloud .tag-cloud-link {
	margin-right: 0.3em;
	white-space: nowrap;
}

.wp-block-tag-cloud .tag-link-count {
	font-weight: normal;
	color: #555;
}
/* Calendar */

.wp-block-calendar {
	width: 100%;
	max-width: 600px;
}

.wp-block-calendar #wp-calendar {
	width: 100%;
	min-height: 300px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-calendar #wp-calendar caption,
.wp-block-calendar #wp-calendar td,
.wp-block-calendar #wp-calendar th {
	padding: ct-em(4);
	text-align: left;
	border: 0;
}

.wp-block-calendar #wp-calendar caption {

	@extend .jubilee-dark;
	padding: 0;
	font-weight: bold;
	font-style: normal;

	@include jubilee-uppercase();

}

.wp-block-calendar #wp-calendar th {
	border: 0;
	background: none;
	padding: ct-em(10) 0 ct-em(10) ct-em(4);
	@extend .jubilee-dark;
	font-weight: bold;
}

.wp-block-calendar #wp-calendar a {
	text-decoration: none;
}

.wp-block-calendar #wp-calendar tfoot td {

	padding-top: ct-em(18);

	@include jubilee-uppercase();

	a {
		font-weight: bold;
		text-decoration: none;
	}

	&#next {
		text-align: right;
		padding-right: 8%;
	}

}
